@model MVCWebApp.Models.AddEmployeeViewModel


@{

}

<h2>Add2</h2>
<div>
    <input class="form-control" type="text" asp-for="Name">
    <button class="btn btn-primary" asp-controller="Employee" asp-action="Add">Click me</button>
    <button class="btn btn-success" asp-controller="Employee" asp-action="Save">Save</button>

</div>

